:host {
  ion-content {
  --ion-background-color: #fff;
}

}
.wrapper {
  height: 100%;
  margin-top: -20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

